@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');

html{
    font-size: 15px;
}

body{
    font-family: 'Outfit', sans-serif;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
}

.card{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 25px lightgray;
    background-color: white;
}

.card div.image{
    overflow: hidden;
    width: 100%;
}

.card div.image img{
    width: 100%;
    border-radius: 20px;
}

h1{
    font-size: 1.2rem;
    margin: 15px 0;
    font-weight: 700;
    text-align: center;
}

p{
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    color: hsl(220, 15%, 55%);
}